### Dados da Saúde do Coração
#### Logistic regression To predict heart disease
Link para a [Base de dados e Documentação Oficial](https://www.kaggle.com/datasets/dileep070/heart-disease-prediction-using-logistic-regression?select=framingham.csv)

#### 1. Preparando o ambiente: base de dados

In [14]:
import pandas as pd

dados = pd.read_csv('./db-framingham.csv')
dataset = pd.DataFrame(dados)
dataset.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [15]:
dataset.shape

(4238, 16)

In [16]:
dataset.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [17]:
type(dataset)

pandas.core.frame.DataFrame

In [18]:
dict_eng_port = {
  'male' : 'genero',
  'age' : 'idade',
  'education' : 'escolaridade',
  'currentSmoker' : 'fumante',
  'cigsPerDay' : 'cigarros_por_dia',
  'BPMeds' : 'uso_medicamento_pressao',
  'prevalentStroke' : 'avc',
  'prevalentHyp' : 'hipertensao',
  'diabetes' : 'diabetes',
  'totChol' : 'colesterol_total',
  'sysBP' : 'pressao_arterial_sistolica',
  'diaBP' : 'pressao_arterial_diastolica',
  'BMI' : 'imc',
  'heartRate' : 'freq_cardiaca',
  'glucose' : 'glicemia',
  'TenYearCHD' : 'risco_dac_decada'
}
dataset = dataset.rename(columns=dict_eng_port)
dataset.head()

,genero,idade,escolaridade,fumante,cigarros_por_dia,uso_medicamento_pressao,avc,hipertensao,diabetes,colesterol_total,pressao_arterial_sistolica,pressao_arterial_diastolica,imc,freq_cardiaca,glicemia,risco_dac_decada
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [19]:
dataset = dataset.drop(columns=['escolaridade'])
dataset.head()

,genero,idade,fumante,cigarros_por_dia,uso_medicamento_pressao,avc,hipertensao,diabetes,colesterol_total,pressao_arterial_sistolica,pressao_arterial_diastolica,imc,freq_cardiaca,glicemia,risco_dac_decada
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

#### 2. Trabalhando com Data Frame

In [22]:
dataset.describe()

,genero,idade,fumante,cigarros_por_dia,uso_medicamento_pressao,avc,hipertensao,diabetes,colesterol_total,pressao_arterial_sistolica,pressao_arterial_diastolica,imc,freq_cardiaca,glicemia,risco_dac_decada
count,4238.000000,4238.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,0.429212,49.584946,0.494101,9.003089,0.029630,0.005899,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,0.495022,8.572160,0.500024,11.920094,0.169584,0.076587,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,0.000000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [26]:
dataset.dtypes

genero                           int64
idade                            int64
fumante                          int64
cigarros_por_dia               float64
uso_medicamento_pressao        float64
avc                              int64
hipertensao                      int64
diabetes                         int64
colesterol_total               float64
pressao_arterial_sistolica     float64
pressao_arterial_diastolica    float64
imc                            float64
freq_cardiaca                  float64
glicemia                       float64
risco_dac_decada                 int64
dtype: object

In [29]:
dataset.cigarros_por_dia.unique()

array([ 0., 20., 30., 23., 15.,  9., 10.,  5., 35., 43.,  1., 40.,  3.,
        2., nan, 12.,  4., 18., 25., 60., 14., 45.,  8., 50., 13., 11.,
        7.,  6., 38., 29., 17., 16., 19., 70.])

In [31]:
dataset.isnull().sum()

genero                           0
idade                            0
fumante                          0
cigarros_por_dia                29
uso_medicamento_pressao         53
avc                              0
hipertensao                      0
diabetes                         0
colesterol_total                50
pressao_arterial_sistolica       0
pressao_arterial_diastolica      0
imc                             19
freq_cardiaca                    1
glicemia                       388
risco_dac_decada                 0
dtype: int64

In [34]:
selecao_corretos = dataset.cigarros_por_dia.notnull()
selecao_corretos

0       True
1       True
2       True
3       True
4       True
        ...
4233    True
4234    True
4235    True
4236    True
4237    True
Name: cigarros_por_dia, Length: 4238, dtype: bool

In [35]:
dataset = dataset[selecao_corretos]
dataset.isnull().sum()

genero                           0
idade                            0
fumante                          0
cigarros_por_dia                 0
uso_medicamento_pressao         53
avc                              0
hipertensao                      0
diabetes                         0
colesterol_total                50
pressao_arterial_sistolica       0
pressao_arterial_diastolica      0
imc                             19
freq_cardiaca                    1
glicemia                       384
risco_dac_decada                 0
dtype: int64

In [37]:
dataset = dataset[dataset.uso_medicamento_pressao.notnull()]
dataset = dataset[dataset.colesterol_total.notnull()]
dataset = dataset[dataset.imc.notnull()]
dataset = dataset[dataset.freq_cardiaca.notnull()]

In [38]:
dataset.isnull().sum()

genero                           0
idade                            0
fumante                          0
cigarros_por_dia                 0
uso_medicamento_pressao          0
avc                              0
hipertensao                      0
diabetes                         0
colesterol_total                 0
pressao_arterial_sistolica       0
pressao_arterial_diastolica      0
imc                              0
freq_cardiaca                    0
glicemia                       339
risco_dac_decada                 0
dtype: int64