# Lendo dados da internet e manipulando os mesmos

In [23]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()
# 0 == acessou e 1 == não acessou
# 0 == não comprou e 1 == não comprou
# home > site principal
# how_it_works > site como funciona
# contact > site de contato
# bought > comprou produto

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [24]:
dados.shape[0]

99

In [25]:
dados.shape[1]

4

In [26]:
dados.describe()

            home  how_it_works    contact     bought
count  99.000000     99.000000  99.000000  99.000000
mean    0.535354      0.404040   0.626263   0.333333
std     0.501287      0.493203   0.486257   0.473804
min     0.000000      0.000000   0.000000   0.000000
25%     0.000000      0.000000   0.000000   0.000000
50%     1.000000      0.000000   1.000000   0.000000
75%     1.000000      1.000000   1.000000   1.000000
max     1.000000      1.000000   1.000000   1.000000

In [27]:
list(dados.columns)

['home', 'how_it_works', 'contact', 'bought']

In [28]:
dados[['home', 'how_it_works', 'contact']].head(5)

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [29]:
x = dados[["home","how_it_works","contact"]]
y = dados[["bought"]]
y.head(5)

   bought
0       0
1       0
2       0
3       0
4       0

In [30]:
mapa = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [31]:
x = dados[["principal","como_funciona","contato"]]
y = dados[["comprou"]]

x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [32]:
y.head()

   comprou
0        0
1        0
2        0
3        0
4        0

In [33]:
dados.shape

(99, 4)

In [34]:
# assim separamos o treino dos testes
treino_x = x[:75]
treino_x.shape

(75, 3)

In [35]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]
teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [37]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

/home/marceloicampos/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC()

In [38]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

/home/marceloicampos/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Por meio desse exemplo, tivemos um contato mais realista com tratamentos de algorítimos de machine learning, uma vez que importamos a fonte de dados e realizamos os tratamentos necessários, renomeando colunas e separando os dados de treino e teste até que finalmente executamos o modelo.

# Estratificando splits

In [39]:
# assim separamos o treino do teste
from sklearn.model_selection import train_test_split

train_test_split(x, y, test_size =0.25)

[    principal  como_funciona  contato
 64          1              0        1
 53          1              1        0
 74          0              0        1
 98          0              0        0
 10          1              1        0
 ..        ...            ...      ...
 72          0              0        1
 0           1              1        0
 57          1              1        0
 49          1              1        0
 54          1              0        1

 [74 rows x 3 columns],
     principal  como_funciona  contato
 35          1              0        1
 40          0              1        0
 24          1              0        1
 82          0              0        1
 80          0              0        1
 60          1              0        1
 34          1              0        1
 71          0              0        1
 67          1              0        1
 70          1              1        0
 66          0              0        1
 83          1              0        1
 96          0              0        1
 45          0              0        1
 8           1              1        0
 65          0              1        1
 95          1              1        1
 55          1              1        0
 14          0              0        1
 86          1              1        0
 46          1              0        1
 21          0              1        0
 63          0              1        0
 44          0              0        1
 29          0              0        1,
     comprou
 64        1
 53        0
 74        0
 98        0
 10        1
 ..      ...
 72        0
 0         0
 57        0
 49        0
 54        1

 [74 rows x 1 columns],
     comprou
 35        1
 40        0
 24        1
 82        0
 80        0
 60        1
 34        1
 71        0
 67        1
 70        0
 66        0
 83        1
 96        0
 45        0
 8         0
 65        1
 95        1
 55        0
 14        0
 86        0
 46        1
 21        0
 63        0
 44        0
 29        0]

In [41]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size =0.25)
print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)

#### abaixo usando biblioteca para separar treino e teste

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/home/marceloicampos/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [55]:
# assim definimos um número inicial de números aleatórios, SEED é a semente inicial, assim retiramos a aleatoriedade da separação de treinos e testes
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/home/marceloicampos/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [56]:
treino_y.value_counts()

comprou
0          47
1          27
dtype: int64

In [61]:
teste_y.value_counts()

comprou
0          19
1           6
dtype: int64

In [62]:
# assim estratificamos pelo y

from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/home/marceloicampos/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [63]:
treino_y.value_counts()

comprou
0          49
1          25
dtype: int64

In [64]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64

#### acima temos uma proporção de 2 pra 1 no treino e no teste